<!DOCTYPE html>
<html>
<head>
    <title>Create user site</title>
    <link rel='stylesheet' href='styles.css'>
</head>
<body>

<!-- Setting up a div for my log in -->


    <div class='login-page'>
        <div class='form'>

    <table class='register-form'>
        <label for='create'></label>Create a user here:</label><br>
        <br>

        <!-- Inputs -->
        <p>Type in your username:</p>
        <input type='text' id='usernameid' placeholder='Username'/> <br>
        <p>Type in your password:</p>
        <input type='password' id='passwordid' placeholder='Password'/> <br>
        <p>Type in your first name:</p>
        <input type='text' id='firstnameid' placeholder='Firstname'/> <br>
        <p>Type in your last name:</p>
        <input type='text' id='lastnameid' placeholder='Lastname'/> <br>
        <p>Type in your age:</p>
        <input type='number' id='ageid' placeholder='Age'/> <br>
        <p>Type in your gender:</p>
        <input type='text' id='genderid' placeholder='Gender'/> <br>
        <p>Type in your interest:</p>
        <input type='text' id='interestid' placeholder='Interest'/> <br>

        <br><br><br>

        <!-- Submit the user -->

        <input type='submit' id='submituser' value='Submit' onclick= 'validateNewUser()'/> 

        <br><br>

            <a href='login.html'>Or Log In Here</a>
        </p>
    </table>  

</div>
</div>

</body>
<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='../Model/users.js'></script>
<script src='../Controller/create.js'></script>
</html>