<!DOCTYPE html>
<html>
<head>
    <title>Date</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <button id="getProfile" onclick= "getProfile()">Start looking through profiles</button>


    <p id="displayUsername"></p>
    <p id="displayFirstname"></p>
    <p id="displayLastname"></p>
    <p id="displayAge"></p>
    <p id="displayGender"></p>
    <p id="displayInterest"></p>


<br>
<br>
<br>

<button id="getFullProfile" onclick= "getFullProfile()">Se fuld profil</button>

<br>
<br>
<br>


<button>Like</button>
<button>Dislike</button>

<br>
<br>
<br>

<button id="backToProfile" onclick="location.href = 'profile.html'">Go back to your profile</button>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../Controller/date.js"></script>
</html>