<!DOCTYPE html>
<html>
<head>
    <title>Log in site</title>
    <link rel='stylesheet' href='styles.css'>
</head>
<body>

    <!-- Setting up divs to style in CSS -->

    <div class='login-page'>
    <div class='form'>

        <h3>Welcome to my dating program</h3>

        <p>You can log in or create a user</p>

        <!-- Creating a table to log in -->

        <table class='Login-form'>
        <input type='text' id='usernameid' placeholder='Username'/>
        <input type='password' id='passwordid' placeholder='Password'/>
            
        </table>

        <!-- Button to log in -->
        <br>
        <button id='submituser' onclick= 'validateLogIn()'>Log in</button> <br><br>
        <a href='create.html'>Create a User</a>

        </div>
    </div>
    
</body>
<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='../Controller/login.js'></script>
</html>