<!DOCTYPE html>
<html lang="en">
<head>

    <h1>
        Du er ikke logget ind. 
    </h1>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  

    <table>
        <button id="submituser" onclick= "deleteuser()">Delete Your User</button>
        <button onclick="location.href = 'update.html'">Update profile</button>
        <button id="getuser" onclick= "getuser()">Se overblik over din profil</button>
    </table>

    <p id="overview"></p>

     <button id="logoutuser" onclick= "logout()">Log Out</button>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Controller/profile.js"></script>
</html>